<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Isfa Nusantara</title>

  <!-- Link GFont -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
    rel="stylesheet">

  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>

<body>
  <!-- Skip to content -->
  <!-- <a href="#restaurant-list" class="skip-link">Skip To Content</a> -->
  
  <!-- Navbar Start -->
  <header>
    <nav-element></nav-element>
  </header>


  <div>
    <section class="container-hero" id="#home">
      <div class="hero-list">
        <h2>Terkadang, kebahagiaan itu manis seperti sepotong cookies.</h2>

        <p>Selamat datang di Isfa Nusantara, tempat di mana setiap gigitan adalah petualangan rasa. Mari merasakan
          kelezatan yang tiada tara bersama kami!.</p>
      </div>
    </section>

  </div>

  <main>
    <section class="card-container" id="restaurant-list">
        <!-- Kartu-kartu restoran akan ditampilkan di sini -->
    </section>
  </main>

  <!-- Footer  -->
  <footer>
    <footer-element></footer-element>
  </footer>

  <script type="script"></script>

</body>

</html>